<div class="dashboard">
  <ul>
    <li ng-repeat="tab in $ctrl.$tabs.tabs" ng-click="$ctrl.moveTab(tab)" ng-bind="tab.title"></li>
  </ul>
  <div ng-if="$ctrl.$tabs.current.id === 'section'">
    Section .........
    <select ng-model="$ctrl.form.section.selectedSection" ng-disabled="$ctrl.form.section.disableSelect">
      <option value="AB">AB</option>
      <option value="CD">CD</option>
      <option value="CD">EF</option>
    </select>
    <input name="sectionName" type="text" ng-model="$ctrl.form.section.name" />
  </div>
  <div ng-if="$ctrl.$tabs.current.id === 'columns'">
    Columns ........
    <span>Last Section Name : </span>
    <span ng-bind="$ctrl.form.columns.sectionName"></span>
  </div>
  <div ng-if="$ctrl.$tabs.current.id === 'rows'">
    Rows .........
  </div>
  <div ng-if="$ctrl.$tabs.current.id === 'anything'">
    Anything .......
  </div>
  <div>
    <input type="button" ng-if="$ctrl.$tabs.current.hasPrevious" value="Previous" ng-click="$ctrl.movePrevious()" />
    <input type="button" ng-if="$ctrl.$tabs.current.hasNext" value="Next" ng-click="$ctrl.moveNext()" />
    <input type="button" value="AutoSave" ng-click="$ctrl.autoSave()" />
    <input type="button" value="Cancel" ng-click="$ctrl.cancel()" />
  </div>
</div>